Repository juaml/junifer, pull requests merged in 2023-11, with the labels that each got.

#269 [MAINT]: Improve docs, packaging and code style
  README.md
  docs/changes/newsfragments/269.misc
  docs/conf.py
  docs/extending/marker.rst
  docs/index.rst
  docs/installation.rst
  docs/understanding/preprocess.rst
  junifer/api/functions.py
  junifer/api/tests/test_functions.py
  junifer/data/tests/test_parcellations.py
  junifer/datagrabber/aomic/piop1.py
  junifer/datagrabber/aomic/piop2.py
  junifer/datagrabber/base.py
  junifer/datagrabber/hcp1200/datalad_hcp1200.py
  junifer/datagrabber/hcp1200/hcp1200.py
  junifer/datagrabber/pattern.py
  junifer/datagrabber/tests/test_pattern.py
  junifer/datagrabber/utils.py
  junifer/markers/base.py
  junifer/markers/collection.py
  junifer/markers/falff/tests/test_falff_parcels.py
  junifer/markers/falff/tests/test_falff_spheres.py
  junifer/pipeline/update_meta_mixin.py
  junifer/storage/base.py
  junifer/utils/logging.py
  pyproject.toml
Labels: maintenance

#271 [ENH]: Add DMCC13Benchmark DataGrabber
  docs/changes/newsfragments/271.feature
  junifer/datagrabber/__init__.py
  junifer/datagrabber/dmcc13_benchmark.py
  junifer/datagrabber/tests/test_dmcc13_benchmark.py
  tools/create_dmcc13_benchmark_example_dataset.py
Labels: dataset

#274 [FIX]: Make native warped components persist
  docs/changes/newsfragments/274.bugfix
  junifer/data/coordinates.py
  junifer/data/masks.py
  junifer/data/parcellations.py
  junifer/preprocess/fsl/bold_warper.py
Labels: bug, parcellation, coordinate, mask

#145 [ENH]: Complexity features
  .github/workflows/docs-preview.yml
  .github/workflows/docs.yml
  docs/api/markers.rst
  docs/builtin.rst
  docs/changes/newsfragments/145.feature
  docs/conf.py
  junifer/markers/complexity/__init__.py
  junifer/markers/complexity/complexity_base.py
  junifer/markers/complexity/hurst_exponent.py
  junifer/markers/complexity/multiscale_entropy_auc.py
  junifer/markers/complexity/perm_entropy.py
  junifer/markers/complexity/range_entropy.py
  junifer/markers/complexity/range_entropy_auc.py
  junifer/markers/complexity/sample_entropy.py
  junifer/markers/complexity/tests/test_complexity_base.py
  junifer/markers/complexity/tests/test_hurst_exponent.py
  junifer/markers/complexity/tests/test_multiscale_entropy_auc.py
  junifer/markers/complexity/tests/test_perm_entropy.py
  junifer/markers/complexity/tests/test_range_entropy.py
  junifer/markers/complexity/tests/test_range_entropy_auc.py
  junifer/markers/complexity/tests/test_sample_entropy.py
  junifer/markers/complexity/tests/test_weighted_perm_entropy.py
  junifer/markers/complexity/weighted_perm_entropy.py
  junifer/markers/utils.py
  pyproject.toml
  tox.ini
Labels: enhancement, marker

#224 [BUG]: relative path in `with` block in YAML is interpreted relative from YAML, but copy operation to junifer jobs directory interprets relative to working directory.
  docs/changes/newsfragments/224.bugfix
  junifer/api/parser.py
  junifer/api/tests/test_parser.py
Labels: bug

#276 [BUG]: Fix interpolation scheme for native parcellation and mask
  docs/changes/newsfragments/276.bugfix
  junifer/data/masks.py
  junifer/data/parcellations.py
Labels: bug, parcellation, mask
