Repository juaml/junifer, pull requests merged in 2024-12, with the labels that each got.

#385 [BUG]: External dependencies not found despite being there
  docs/changes/newsfragments/385.bugfix
  junifer/pipeline/utils.py
Labels: bug

#408 [ENH]: Refactor Preprocessors to sync data and their paths
  docs/changes/newsfragments/408.enh
  docs/changes/newsfragments/408.feature
  junifer/preprocess/confounds/fmriprep_confound_remover.py
  junifer/preprocess/smoothing/_afni_smoothing.py
  junifer/preprocess/smoothing/_fsl_smoothing.py
  junifer/preprocess/smoothing/_nilearn_smoothing.py
  junifer/preprocess/smoothing/smoothing.py
  junifer/preprocess/warping/_ants_warper.py
  junifer/preprocess/warping/_fsl_warper.py
Labels: enhancement, preprocess

#409 [BUG]: Correct file reading for AFNI outputs
  docs/changes/newsfragments/409.bugfix
  docs/changes/newsfragments/409.enh
  junifer/markers/falff/_afni_falff.py
  junifer/markers/falff/_junifer_falff.py
  junifer/markers/falff/falff_base.py
  junifer/markers/falff/tests/test_falff_spheres.py
  junifer/markers/reho/_afni_reho.py
  junifer/markers/reho/_junifer_reho.py
  junifer/markers/reho/reho_base.py
Labels: enhancement, marker

#412 [ENH]: Logging with a color formatter
  docs/changes/newsfragments/412.change
  docs/changes/newsfragments/412.feature
  junifer/api/queue_context/gnu_parallel_local_adapter.py
  junifer/api/queue_context/htcondor_adapter.py
  junifer/cli/cli.py
  junifer/utils/logging.py
Labels: enhancement

#413 [ENH]: Update `get_template` interface
  docs/changes/newsfragments/413.change
  junifer/data/masks/_ants_mask_warper.py
  junifer/data/masks/_masks.py
  junifer/data/parcellations/_ants_parcellation_warper.py
  junifer/data/template_spaces.py
  junifer/data/tests/test_template_spaces.py
  junifer/preprocess/warping/_ants_warper.py
Labels: enhancement, template-space

#395 [ENH]: Rework masking logic
  docs/changes/newsfragments/367.enh
  docs/changes/newsfragments/389.enh
  docs/changes/newsfragments/391.misc
  docs/changes/newsfragments/395.enh
  docs/extending/extension.rst
  junifer/data/masks/_ants_mask_warper.py
  junifer/data/masks/_masks.py
  junifer/data/masks/tests/test_masks.py
  junifer/data/parcellations/_parcellations.py
Labels: mask

#404 [ENH]: Enable `compute_brain_mask` to use subject-specific probseg files
  docs/changes/newsfragments/404.change
  docs/changes/newsfragments/404.enh
  junifer/data/masks/_masks.py
Labels: enhancement, mask

#411 [ENH]: Rework parcellation logic
  docs/changes/newsfragments/411.change
  docs/changes/newsfragments/411.enh
  junifer/data/parcellations/_parcellations.py
  junifer/data/parcellations/tests/test_parcellations.py
  junifer/markers/reho/tests/test_reho_parcels.py
Labels: parcellation

#414 [ENH]: Simplify space warping for parcellations and masks
  docs/changes/newsfragments/414.misc
  junifer/data/masks/_masks.py
  junifer/data/parcellations/_parcellations.py
  junifer/markers/reho/tests/test_reho_parcels.py
Labels: enhancement, parcellation, mask, template-space

#416 [ENH]: Add helper function for getting correct interpolator for masks
  junifer/data/masks/_ants_mask_warper.py
  junifer/data/masks/_fsl_mask_warper.py
  junifer/data/masks/_masks.py
Labels: enhancement, mask
